# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# Editor Stuff
*.sublime-project
*.sublime-workspace



# dependencies
node_modules

# node_module cache for TravisCI, etc.
node_modules.tar.gz

npm-debug.log
.esformatter
.tmp/
.dist/
dist/
